**/__pycache__/
.env
fix.py
upload_geojson.py
/uploads
/original
/webfiles
/userfiles
/temporal

requirements.txt.bak

# everything in the plugins folder
/app/plugins/*

!/app/plugins/filesProcessing
!/app/plugins/inventoryMaker
!/app/plugins/massiveUpdater
!/app/plugins/liquidText
!/app/plugins/scheduleSystemTasks

/app/utils/geo/*

/skills/*
!/skills/system

# Avoid VSCode settings folder
.vscode/